	<h2>Estadísticas</h2>

	<table id='estadisticas'>
		<tr>
			<td class='numero'><%= preguntasTotal %></td>
			<td class='concepto'>Preguntas</td>
		</tr>
		<tr>
			<td class='numero'><%= comentariosTotal %></td>
			<td class='concepto'>Comentarios</td>
		</tr>
		<tr>
			<td class='numero'><%= comentariosXpregunta %></td>
			<td class='concepto'>Comentarios de media por pregunta</td>
		</tr>
		<tr>
			<td class='numero'><%= preguntasSinComentario %></td>
			<td class='concepto'>Preguntas sin comentarios</td>
		</tr>
		<tr>
			<td class='numero'><%= preguntasConComentario %></td>
			<td class='concepto'>Preguntas con comentarios</td>
		</tr>
	</table>
